<div class="bg">
  <div class="card col-6 text-center m-auto">
    <!-- Button trigger create modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cartModal">
      View Cart
    </button>
    <!-- Create Modal -->
    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row col-12" *ngFor="let book of books">
              <ul class="list-group list-group-flush" *ngIf="book.inCart" >
                <li class="list-group-item pl-0">
                  <h4>{{book.title}}</h4>
                  <h6>{{book.subtitle}}</h6>
                  <b>By: {{book.author}}</b>
                  <br>
                  <br>
                  <p class="fst-italic">{{book.description}}</p>
                  <p>Pages: {{book.pages}}</p>
                  <p>Publisher: {{book.publisher}}</p>
                  <p>Published: {{book.published}}</p>
                  <hr>
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>  
    <div class="card-header">
      Books
    </div>
    <div class="row col-12" *ngFor="let book of books">
      <ul class="list-group list-group-flush" *ngIf="!book.inCart" >
        <li class="list-group-item pl-0">
          <h4>{{book.title}}</h4>
          <h6>{{book.subtitle}}</h6>
          <b>By: {{book.author}}</b>
          <br>
          <br>
          <p class="fst-italic">{{book.description}}</p>
          <p>Pages: {{book.pages}}</p>
          <p>Publisher: {{book.publisher}}</p>
          <p>Published: {{book.published}}</p>
          <div class="row justify-content-evenly">
            <button (click)="addToCart(book.id)" type="button" class="btn btn-success col-2">Add to Cart</button>
            <button (click)="removeBook(book.id)" type="button" class="btn btn-danger col-2">Delete</button>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>
</div>